In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('inclusive_features_usage.xlsx')

# Data Cleaning and Preparation

## Missing Values:

In [34]:
for x in data.columns:
    print(f'There are {data[x].isna().sum()} missing values in the column {x}.')

There are 0 missing values in the column user_id.
There are 0 missing values in the column feature_used.
There are 0 missing values in the column session_duration.
There are 0 missing values in the column engagement_score.
There are 0 missing values in the column accessibility_settings.
There are 0 missing values in the column age_group.
There are 3997 missing values in the column gender.
There are 6003 missing values in the column additional_attributes.

## Outliers

Detect and manage outliers in session_duration and engagement_score.

## High Accessibility User Classification: 
Explain your choice and its implications for model interpretability.

In [44]:
data['high_accessibility_user'] = [1 if x>=3 else 0 for x in data['accessibility_settings']]

In [45]:
data

,user_id,feature_used,session_duration,engagement_score,accessibility_settings,age_group,gender,additional_attributes,high_accessibility_user
0,user_4737,Multilingual,60.77,4,4,Teenager,NaN,LGBTQ+,1
1,user_1492,Text-to-Speech,20.20,5,4,Professional,Non-Binary,NaN,1
2,user_5936,Colorblind Mode,93.78,2,2,Adult,Female,NaN,0
3,user_5519,Colorblind Mode,26.36,3,1,Adult,NaN,LGBTQ+,0
4,user_1853,High Contrast Mode,91.67,5,1,Young Adult,Male,NaN,0
...,...,...,...,...,...,...,...,...,...
9995,user_667,Visual Aid,110.11,1,5,Adult,Non-Binary,NaN,1
9996,user_3554,Visual Aid,22.44,3,2,Professional,Male,NaN,0
9997,user_8892,Multilingual,12.91,4,2,Senior,Non-Binary,NaN,0
9998,user_8014,Multilingual,19.23,3,1,Professional,NaN,LGBTQ+,0
9999,user_7722,Text-to-Speech,92.66,2,1,Adult,Female,NaN,0

## Intersectionality Analysis